<!--Con el no border se quita el borde del header-->
<ion-header no-border>
    <!--se define un color del header-->
    <ion-toolbar color="dark">
        <ion-title>
            Pendientes
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content color="dark">
    <app-listas [terminada]="false"></app-listas>
    <!--Se define la orientacion que va tener el boton y le definimos que escuche el click para hacer la accion especificada en la clase referente-->
    <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="agregarLista()">
        <!--Se define el color que tendra el boton-->
        <ion-fab-button color="tertiary">
            <!--Se define el icono que tendra el boton-->
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>